.cart {
  display: flex;

  &__overlay {
    background-color: hsla(0, 0%, 0%, 0.5);
    position: fixed;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    z-index: 10;
    top: 0;
  }

  &__curtain {
    color: $colorMainDark;
    background-color: $colorMainWhite;
    z-index: 10;
    position: fixed;
    right: 0;
    width: 70vw;
    max-width: 22rem;
    height: 100%;

    padding: .75rem;
    display: flex;
    flex-direction: column;

    @include md {
      padding: 1.5rem;
      padding-block-end: .5rem;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    overflow: auto;
    margin-bottom: auto;
  }

  &__header {
    display: flex;
    justify-content: space-between;

    &--title {
      font-size: 2rem;
    }

    &--close {
      cursor: pointer;
      display: grid;
      place-items: center;
      background-color: $colorMainWhite;

      width: 40px;
      height: 40px;
      padding: .75rem;
      border: 1px solid $colorShadow;
      border-radius: .75rem;

      position: relative;
      transition: 250ms ease-in-out;

      &:hover {
        border: 1px solid $colorMainGrey;
      }

      &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;

        width: 2px;
        height: 15px;
        border-radius: 2px;
        background-color: $colorMainGrey;

        transform: translate(-50%, -50%) rotate(45deg);
      }

      &::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;

        width: 15px;
        height: 2px;
        border-radius: 2px;
        background-color: $colorMainGrey;

        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
  }

  &__item {
    display: flex;
    padding: .25rem;
    gap: .25rem;
    border: 1px solid $colorShadow;
    border-radius: .5rem;
    flex-grow: 1;

    &--img {
      max-width: 30%;
      aspect-ratio: 1 / 1;
      border-radius: .25rem;
    }

    &--remove {

      cursor: pointer;
      display: grid;
      place-items: center;
      background-color: $colorMainWhite;

      width: 40px;
      height: 40px;
      padding: .75rem;
      border: 1px solid $colorShadow;
      border-radius: .75rem;

      position: relative;
      transition: 250ms ease-in-out;

      &:hover {
        border: 1px solid $colorMainGrey;
      }

      &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;

        width: 2px;
        height: 15px;
        border-radius: 2px;
        background-color: $colorMainGrey;

        transform: translate(-50%, -50%) rotate(45deg);
      }

      &::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;

        width: 15px;
        height: 2px;
        border-radius: 2px;
        background-color: $colorMainGrey;

        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: .5rem;
    min-height: 100%;
    padding-inline: 2.25rem;
    padding-block-end: 4rem;

    @include md {
      padding-inline: 3.5rem;
    }

    &--img {
      max-width: 100%;
    }

    &--title {
      font-size: 1.75rem;
      font-weight: 600;
      text-align: center;
    }

    &--text {
      color: hsl(0, 0%, 50%);
      text-align: center;
    }

    &--btn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: .5rem;
      cursor: pointer;
      font-size: 1rem;
      padding: 1rem 2rem;
      margin-block-start: 1rem;
      border: none;
      border-radius: .75rem;
      color: $colorMainWhite;
      background: $gradientGreen;
      width: 100%;

      img {
        transition: 150ms ease-in-out;
      }
      
      &:hover {
        background: $gradientGreenHover;

        img {
          transform: translateX(-5px);
        }
      }

      &:active {
        background: $gradientGreenActive;
      }
    }
  }

  &__pay {
    margin-bottom: auto;
    margin-block-end: 4rem;

    @include md {
      margin-block-end: 1rem;
    }

    &--sum {
      display: flex;
      justify-content: space-between;
    }

    &--btn {
      font-size: 1.125rem;
      font-weight: 500;

      cursor: pointer;
      color: $colorMainWhite;
      background: $gradientGreen;

      border: none;
      border-radius: .75rem;
      padding-block: 1rem;
      margin-block-start: 1rem;
      width: 100%;

      &:hover {
        background: $gradientGreenHover;
      }

      &:active {
        background: $gradientGreenActive;
      }
    }
  }
}