.catalog {
  display: flex;
  align-items: center;
  justify-content: space-between;


  margin-block-end: 1rem;
  padding-inline: 2rem;

  @include md {
    margin-block-end: .5rem;
  }

  @include lg {
    margin-block-end: 0;
  }
}