.cards {
  display: flex;
  flex-wrap: wrap;
  margin-inline: 5px;
  gap: 7px;
  padding-block-end: .5rem;
  color: $colorMainDark;

  .card {
    display: flex;
    flex-direction: column;
    width: 49%;
    border: 1px solid $colorShadow;
    border-radius: 1.25rem;
    position: relative;

    transition: box-shadow 200ms ease-in-out,
                transform 200ms ease-in-out ;

    &:hover {
      box-shadow: 0 5px 5px 0px $colorShadow;
      transform: translateY(-5px);
    }

    &__availability {
      cursor: pointer;
      font-size: .75rem;
      font-weight: 500;

      position: absolute;
      right: 10px;
      top: 10px;
      padding: .25rem .5rem;
      border-radius: 1rem;

      background-color: hsl(0, 0%, 100%);
      color: rgb(30, 182, 30);
    }

    &__img {
      border-radius: 1.25rem;
      padding: .25rem;
    }

    &__text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
      padding: .5rem 1rem 1rem 1rem;
    }

    &__title {
      font-size: 1.125rem;
      padding-block-end: .75rem;
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__pricename {
      opacity: .75;
      font-size: .75rem;
    }

    &__price {
      font-size: 1.5rem
    }

    &__checkbox {
      display: none;

      &:checked + label {
        box-shadow: none;
        background: linear-gradient(360deg, rgb(70, 202, 63) 0%, rgb(110, 241, 113) 100%);
      }
  
      &:checked + label::before {
        background-color: $colorMainWhite;
        height: 12px;
        transform: translate(55%, -50%) rotate(39deg);
      }
  
      &:checked + label::after {
        background-color: $colorMainWhite;
        width: 8px;
        transform: translate(-90%, 35%) rotate(45deg);
      }

      &--btn {
        cursor: pointer;
        display: grid;
        place-items: center;
        background-color: $colorMainWhite;
  
        width: 40px;
        height: 40px;
        padding: .75rem;
        border: 1px solid $colorShadow;
        border-radius: .75rem;
  
        position: relative;
        transition: 250ms ease-in-out;

        &:hover {
          border: 1px solid hsl(120, 55%, 60%);
        }
  
        &::before {
          content: '';
          position: absolute;
          left: 50%;
          top: 50%;
  
          width: 2px;
          height: 15px;
          border-radius: 2px;
          background-color: $colorMainGrey;
  
          transform: translate(-50%, -50%);
          transition: 150ms ease-in-out;
        }
  
        &::after {
          content: '';
          position: absolute;
          left: 50%;
          top: 50%;
  
          width: 15px;
          height: 2px;
          border-radius: 2px;
          background-color: $colorMainGrey;
  
          transform: translate(-50%, -50%);
          transition: 150ms ease-in-out;
        }
      }
    }

    &__btn {
      display: grid;
      place-items: center;
      cursor: pointer;
      background-color: $colorMainWhite;
      padding: .75rem;
      height: fit-content;
      aspect-ratio: 1 / 1;
      border: none;
      border-radius: .75rem;

      &--fav {
        position: absolute;
        top: 10px;
        left: 10px;
        border-radius: .75rem;

        svg {
          transform: scale(1.25);
          transition: 150ms ease-in-out;
        }

        &:active {
          svg {
            transform: scale(1);
          }
        }

        &:hover {
          svg path {
            fill: url(#paint0_linear_60_1004);
          }
        }
      }
    }
  }

  @include md {
    gap: .5rem;
    padding: .5rem;
    .card {
      width: calc(33% - .25rem);
    }
  }
  
  @include lg {
    padding: 1rem;
    .card {
      width: calc(25% - .40rem);
    }
  }
}