.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: $colorBG;
  color: hsl(0, 0%, 92%);
  height: 10rem;
  padding-block-end: 4rem;
  
  a {
    text-decoration: underline;
  }

  a:hover {
    font-weight: 500;
  }

  @include md {
    padding-block-end: 0;
  }
}